@model IEnumerable<Cinema.Models.Sala>

@{
    ViewData["Title"] = "Index";
}

<h1>Sala</h1>

<p>
    <a asp-action="Create">Adicionar Sala</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Numero">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Numero">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Numero">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
